@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'IRANSansWeb';
  src: url('../font/IRANSansWeb.ttf');
  font-weight: 400;
  font-style: normal;
}

body {
  direction: rtl;
  font-family:IRANSansWeb;
  position: relative;
  overflow-x: hidden;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  text-align: right;
  background-color: #E3E4E8;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

hr{
  margin:20px 0;
  background-color: #bbb;
  height: 1px;
}

*{ 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}

:root {
  --light-bg: #e4ebf5;
  --light-bg-dark-shadow: #bec8e4;
  --light-bg-light-shadow: #fff;
  --dark-bg: #444;
  --dark-bg-dark-shadow: #363636;
  --dark-bg-light-shadow: #525252;
  --white: #fff;
  --black: #000;
  --primary: #2979ff;
  --primary-dark: #2962ff;
  --primary-light: #82b1ff;
  --error: #ff5252;
  --info: #2196f3;
  --success: #4caf50;
  --warning: #dfa700;
  --g-text-color-light: rgba(0,0,0,0.93);
  --g-text-color-disabled-light: rgba(0,0,0,0.45);
  --g-text-color-secondary-light: rgba(0,0,0,0.7);
  --g-text-color-dark: hsla(0,0%,100%,0.93);
  --g-text-color-disabled-dark: hsla(0,0%,100%,0.45);
  --g-text-color-secondary-dark: hsla(0,0%,100%,0.7);
  --g-bg-color-disabled-light: #dee5e8;
  --g-bg-color-disabled-dark: #727272;
  --bg-color: var(--light-bg);
  --text-color: var(--g-text-color-light);
  --border-color: var(--light-bg-light-shadow);
  --text-secondary: var(--g-text-color-secondary-light);
  --disabled-color: var(--g-text-color-disabled-light);
  --box-shadow-inset: inset 2px 2px 5px var(--light-bg-dark-shadow),inset -2px -2px 6px var(--light-bg-light-shadow);
  --box-shadow-inset-thin: inset 1px 1px 2px var(--light-bg-dark-shadow),inset -1px -1px 2px var(--light-bg-light-shadow);
}

::placeholder{
  font-size: 0.875rem;
}

.course-details-title{
  font-weight: 500;
  line-height: 1.3;
  color: #31344b;
}
.course-details-body{
  margin-right: 1rem !important;
  font-size: 14px;
  line-height: 30px;
  text-align: justify;
  color: #44476A;
  margin: 12px 0;
}

/************** form style **************/
.form-input{
  display: flex;
  flex-direction: column;
  margin-bottom:1rem;
}
.form-input>label{
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
  color: #44476A;;
}
.form-input>input{
  height: 40px;
  font-size: 1rem;
  padding: 0 16px;
  border-radius: 8px;
  box-sizing: border-box;
  color: #44476A;
  background: var(--bg-color);
  box-shadow: var(--box-shadow-inset);
  transition: box-shadow .2s ease-in-out;
}
.form-input>small{
  color: #525480;
  margin-top: 0.25rem;
  font-size: 80%;
  font-weight: 400;
}
.invalid.form-input>input{
  border: 1px solid #A91E2C;
  background : url(/icons/errorMark.svg) no-repeat;
  background-size: 20px;
  background-position: left;
}
.invalid.form-input>small{
  color: #A91E2C;
}
.invalid input::placeholder{
  color:#A91E2C;
}
.valid.form-input>input{
  border: 1px solid #18634B;
  background : url(/icons/tikMark.svg) no-repeat;
  background-size: 20px;
  background-position: left;
}
.valid.form-input>small{
  color: #18634B;
}
.valid input::placeholder{
  color:#18634B;
}


/************** card style **************/
.card{
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #E3E4E8;
  background-clip: border-box;
  border: 0.0625rem solid rgba(243, 247, 250, 0.05);
  border-radius: 0.55rem;
  overflow: hidden;
  box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #ffffff !important;
}
.card>img{
  object-fit: cover;
  width: 100%;
  height:300px;
}
.card-body{
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}
.card-body>span{
  font-size: 12.8px;
  color: #31344b;
}
.card-body>h3{
  margin-top: 16px;
  margin-bottom: 20px;
  font-size: 20px;
  color: #31344b;
}
.card-body>p{
  margin-bottom: 16px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: #44476A;
}
.card-body>a{
  padding: 8px;
  font-size: 14px;
  width: fit-content;
  margin-top: auto;
}

.cart-card{
  display: grid;
  margin-bottom: 1.5rem;
  grid-template-columns: repeat(2,1fr);
  word-wrap: break-word;
  background-color: #E3E4E8;
  max-height: 20rem;
  background-clip: border-box;
  border: 0.0625rem solid rgba(243, 247, 250, 0.05);
  border-radius: 0.55rem;
  overflow: hidden;
  box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #ffffff !important;
}
.cart-card-header{
  overflow: hidden;
  border-radius: 0.55rem;
}
.cart-card-header>img{

}
.cart-card-body{
  padding: 1rem;
}
/************** button style **************/
.btn {
  display: inline-block;
  font-weight: 400;
  color: #31344b;
  text-align: center;
  vertical-align: middle;
  padding: 0.55rem 0.95rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.55rem;
  transition: all 0.2s ease;
  letter-spacing: 0.025em;
  box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #ffffff;
  cursor: pointer;
}
.btn:hover {
  color: #31344b;
  background-color: #e6e7ee;
  box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #ffffff;
}
.btn-primary{
  background-color:#2D4CC8 !important;
  color: white;
  font-family: IRANSansWeb;
}
.btn-primary:hover {
  color: white;
  box-shadow: inset 2px 2px 5px #11205b, inset -3px -3px 7px #2942a7;
}
.btn.disable{
  opacity: 0.5;
  cursor: not-allowed;
}
.btn-icon-only {
  position: relative;
  width: 2.575rem;
  min-width: 2.575rem;
  height: 2.575rem;
  padding: 4px;
}
.btn-icon-social{
  width: 42px;
  padding: 12px;
  display: inline-block;
  font-weight: 400;
  color: #31344b;
  text-align: center;
  vertical-align: middle;
  font-size: 1rem;
  line-height: 1.5;
  /* border-radius:100%; */
  transition: all 0.2s ease;
  letter-spacing: 0.025em;
  box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #ffffff;
  cursor: pointer;
}
.btn-icon-social:hover {
  color: #31344b;
  background-color: #e6e7ee;
  box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #ffffff;
}
/************** shadow style **************/
.shadow-soft {
  box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #ffffff !important;
}

.nav-link{
  font-size: 400;
  font-size: 0.875rem;
  color: #31344b;
  padding: 1rem;
}

.footer{
  font-size: 0.875rem;
  color: #44476A;
}

.error-message{
  color:#A91E2C;
  font-size: 0.785rem;
}